﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>\
<p>Jenkins, Bitbucket, Azure Demo</p>
<p>M63ONE-7820 Changes in About page</p>
<p>M63ONE-7820 30th Aug Changes</p>
